# サービスアカウントJSON
service_account.json

# Pythonキャッシュファイル
__pycache__/
*.pyc

# ログファイル
*.log

# 仮想環境フォルダ
venv/

# OS関連ファイル
.DS_Store

# IDE関連ファイル
.idea/
.vscode/

# Firebase関連ファイル
firebase.json
firestore.indexes.json
.firebaserc

# その他
dataconnect
Dataconnect-generated
eslint.config.mjs
SharedShoppingList.entitlements

